/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/
body {
	font-family:
		Arial,
		"Helvetica Neue",
		sans-serif Helvetica,
		sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content {
	flex: 1 1 auto;
}
.header {
}
.container {
	max-width: 1880px;
	margin: 0 auto;
}

.header__row {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}
@media all and(max-width: 587px) {
	.header__row {
		flex-wrap: wrap;
	}
}
.header__title {
	font-family: "Passion One", serif;
	font-weight: 9dvw;
	font-size: 6dvw;
	flex: 1 1 50%;
	font-style: normal;
	color: #fffef6;
	-webkit-text-stroke: 1px #3a457c;
	letter-spacing: 2px;
	padding: 0dvw 0px 0dvw 10dvw;
	text-shadow: 0.3dvw 0.3dvw 0 rgba(0, 0, 0, 0.7);
}
@media all and(max-width: 587px) {
	.header__title {
		flex: 0 1 100%;
		text-align: center;
	}
}
.header__phone {
	font-family: "Times New Roman", Times, serif;
	font-size: 2dvw;
	flex: 0 0 50%;
	padding: 0 0 0 15dvw;
	text-align: center;
	text-shadow: 0.1dvw 0.1dvw 0 rgba(0, 0, 0, 0.7);
	letter-spacing: 0.3dvw;
}
@media all and(max-width: 587px) {
	.header__phone {
		flex: 0 1 100%;
		text-align: center;
	}
}

.header__phone-icon img {
	width: 1.5dvw;
	padding: 0.5dvh 0;
}
.header__phone a {
	color: black;
	padding: 0.5dvh 0;
}

.headerbaner {
}
.headerbaner__row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #070707;
	flex-wrap: wrap;
}
.headerbaner__title {
	background-color: #070707;
	color: white;
	font-size: 3dvw;
	flex: 1 1 50%;
	padding: 10dvw;
}
@media all and (max-width: 959px) {
	.headerbaner__title {
		flex: 0 0 100%;
		text-align: center;
		font-size: 5dvw;
	}
}

.headerbaner__imag {
	flex: 0 0 50%;
	min-width: 30dvw;
	padding: 1dvw;
}
@media all and (max-width: 959px) {
	.headerbaner__imag {
		display: none;
	}
}
.headerbaner__picture {
	width: 100%;
	height: auto;

	/*object-fit: fill;*/
}
/*правила для адаптивного изображения
.headerbaner__imag {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.headerbaner__imag img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/

.invitation {
}
.invitation__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5dvh 3dvw 0.5dvh 3dvw;
	flex-wrap: wrap;
}
.invitation__imag {
	flex: 0 0 50%;
	padding: 3dvw;
}
@media all and (max-width: 959px) {
	.invitation__imag {
		flex: 1 1 100%;
		padding: 3dvw;
	}
}

.invitation__picture {
	width: 100%;
	height: auto;
	min-width: 30dvw;
	border: 10px solid #f1f1f1;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #746f80;
}
.invitation__text {
	flex: 1 1 50%;
	padding: 3dvw;
}
@media all and (max-width: 959px) {
	.invitation__text {
		justify-content: center;
		flex: 1 1 100%;
		padding: 1dvh 3dvw;
	}
}

.invitation__title {
	position: relative;
	display: block;
	font-weight: bold;
	font-size: 4dvw;
	font-style: normal;
	color: #020a19;
}
@media all and (max-width: 959px) {
	.invitation__title {
		text-align: center;
		padding: 1dvh 3dvw;
	}
	.invitation__line {
		display: none;
	}
}
.invitation__line {
	border-bottom: 0.5dvw solid #9ca2b9;
	width: 14%;
	margin: 10px 0 0 0;
}
.invitation__description {
	color: #6d6360;
	font-size: 1dvw;
	font-style: normal;
	margin: 5px 0 0 0;
}
@media all and (max-width: 959px) {
	.invitation__description {
		flex: 1 1 100%;
		padding: 1dvh 3dvw;
		font-size: 3dvw;
		text-align: center;
	}
}
.invitation__description p {
	font-style: normal;
	margin: 20px 0 0 0;
}

.advantages {
}
.advantages__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5dvh 3dvw 0.5dvh 3dvw;
	flex-wrap: wrap-reverse;
}
.advantages__text {
	flex: 1 1 50%;
	padding: 3dvw;
}
@media all and (max-width: 959px) {
	.advantages__text {
		justify-content: center;
		flex: 1 1 100%;
		padding: 1dvh 3dvw;
	}
}
.advantages__title {
	font-weight: bold;
	font-size: 4vw;
	font-style: normal;
	color: #020a19;
}
@media all and (max-width: 959px) {
	.advantages__title {
		text-align: center;
	}
	.advantages__line {
		display: none;
	}
}
.advantages__line {
	border-bottom: 5px solid #9ca2b9;
	width: 19%;
	margin: 10px 0 0 0;
}
.advantages__description {
	color: #6d6360;
	font-size: 1vw;
}
@media all and (max-width: 959px) {
	.advantages__description {
		flex: 1 1 100%;
		padding: 1dvh 3dvw 3dvh 3dvw;
		font-size: 3dvw;
		text-align: center;
	}
}
.advantages__description p {
	font-style: normal;
	margin: 2dvh 0 0 0;
}
.advantages__imag {
	flex: 0 0 50%;
	padding: 3dvw;
	margin: 0 0 0 0px;
}
@media all and (max-width: 959px) {
	.advantages__imag {
		flex: 1 1 100%;
	}
}
.advantages__picture {
	max-width: 100%;
	height: auto;
	min-width: 30dvw;
	border: 10px solid #f1f1f1;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #746f80;
}
.choice {
}

.choice__body {
	background: url("../img/man-461195_1280.jpg") 50% 50% / cover no-repeat;
	width: 100%;
	height: 100vh;
	padding: 0 4dvw;
	/*
	position: relative;
	display: flex;
	width: 1880px;
	height: 1160px;
}
.choice__background {
}
.choice__background-picture {
	width: 100%;
	height: 100%;
	position: absolute;
	flex: 1 1 auto;*/
}
.choice__text {
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	font-size: 8dvh;
	/* display: block; */
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1355px;
	margin: 1dvw auto;
	padding: 0 10dvw;
}
@media all and (max-width: 500px) {
	.choice__text {
		font-size: 6dvh;
	}
}
.columns {
	margin: 5dvh 0;
}
.columns__body {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: space-evenly;
	margin: 0 3dvw 0 3dvw;
	margin: 0 -20px;
	flex: 1 1 auto;
}

.columns__row {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0 -20px;
	flex: 1 1 auto;
}
@media all and (max-width: 959px) {
	.columns__row {
		flex-wrap: wrap;
		margin: 0 5dvw;
	}
}

.columns__column {
	padding: 0 20px;
	/* flex: 0 1 25%;
	display: flex; */
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
@media all and (max-width: 959px) {
	.columns__column {
		flex: 0 1 50%;
	}
}

.columns__item {
	display: flex;
	flex-direction: column;
}
.item {
	flex: 1 1 auto;
}
.item__image {
	text-align: center;
}
.item__image img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}
.item__title {
	text-align: center;
	font-size: 1.8dvh;
	font-weight: bold;
	padding: 1.2dvh 0;
}
.item__text {
	text-align: center;
	padding: 0px 3dvw 1.2dvh 3dvw;
	font-size: 1.2dvh;
	line-height: 1.4dvh;
}
.footer {
}
.footer__body {
	display: grid;
	grid-template-rows: [start] auto [row2] 1fr [row3] auto [row4] auto [row-end];
	grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
	grid-auto-flow: row;
	background-color: rgba(58, 69, 115, 255);
	color: white;
}
.greed__item {
	padding: 1dvh 5dvw;
	/*border: 1px solid red;*/
}
.footer__title {
	grid-column-start: span 3;
	font-size: 4dvh;
	font-weight: bold;
	padding: 2dvh 0 2dvh 5dvw;
}
.footer__address {
	line-height: 20px;
	grid-column-start: span 1;
	padding: 1dvh 0px 0px 5dvw;
	font-size: 2dvh;
}
.footer__address-address {
}
.footer__address-phon {
	color: white;
}
.footer__address-mail {
	color: white;
}
.footer__map {
	grid-column-start: span 2;
	text-align: center;
	max-width: 1fr;
}
.footer__map-picture {
	width: 100%;
	height: auto;
}
.footer__line {
	grid-column-start: span 3;
	border-bottom: 2px solid #9ca2b9;
	width: 1fr;
	margin: 0 5dvw 2dvh 5dvw;
}
.footer__date {
	grid-column-start: span 1;
	text-align: start;
	font-size: 2dvh;
}
.footer__police {
	grid-column-start: span 2;
	text-align: end;
	font-size: 2dvh;
}
@media all and (max-width: 959px) {
	.footer__body {
		grid-template-rows: [start] auto [row2] 1fr [row3] auto [row4] auto [row-end];
		grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
	}
	.footer__title {
		text-align: center;
	}
	.footer__address {
		grid-column-start: span 3;
		text-align: center;
	}
	.footer__map {
		grid-column-start: span 3;
	}
	.footer__line {
		grid-column-start: span 3;
	}
	.footer__date {
	}
	.footer__police {
	}
}
